{% load static %}
{% load mptt_tags %}
<!DOCTYPE html>
<html lang="zxx">

<head> 
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>NASON</title> 

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
 
    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'nason/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

     <!-- Header Section Begin -->
     {% include 'navbar.html' %}
    <!-- Header End -->


    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            <form action="" method="post" class="checkout-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="place-order">
                            <h4>Payment method</h4>
                            <div class="order-total">
                                <div class="payment-check">
                                    {% for value, name in form.fields.payment_option.choices %}
                                    <div class="pc-item">
                                        <label for="pc-paypal">
                                            {{ name }}
                                            <input type="checkbox" id="{{ name }}" name="payment_option" value="{{ value }}" for="{{ name }}">
                                            <span class="checkmark" for="{{ name }}" id="{{ name }}"></span>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="order-btn">
                                    <button type="submit" class="site-btn place-btn">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Shopping Cart Section End -->


    <!-- Footer Section Begin -->
    
    {% include 'navbar1.html' %}
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script type="text/JavaScript" src="{% static 'nason/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/bootstrap.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/jquery-ui.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/jquery.countdown.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/jquery.nice-select.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/jquery.zoom.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/jquery.dd.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/jquery.slicknav.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/owl.carousel.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/main.js' %}"></script>
</body>

</html>