{% load static %}
{% load mptt_tags %} 
<!DOCTYPE html>
<html lang="zxx">

<head> 
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>NASON</title> 

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
 
    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'nason/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nason/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    {% include 'navbar.html' %}
    
    
    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="filter-control"> 
                        <ul>
                            <li class="active">NEW</li>
                            
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        {% for product in product %}
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{{ product.image.url }}" alt=""> 
                                <div class="sale">{{product.discount_parcent}}</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="/order/addtoshopcart/{{ product.id }}/"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="{{ product.get_absolute_url }}">+ Quick View</a></li>
                                    <li class="w-icon"><a href="{{ product.get_absolute_url }}"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{product.category}}</div>
                                <a href="{{ product.get_absolute_url }}">
                                    <h5>{{product.title}}</h5>
                                </a>
                                <div class="product-price">
                                    Tsh{{product.discount_price}}
                                    <span>Tsh{{product.price}}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->


    <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">  
                <div class="col-lg-12 order-1 order-lg-2">
                    <div class="product-show-option">
                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                                <div class="select-option">
                                    <select class="sorting">
                                        <option value="">Default Sorting</option>
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 text-right">
                                <p>NEW</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-list">
                        <div class="row">
                            {% for product in page_obj %}
                            <div class="col-lg-3 col-sm-3">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="{{ product.image.url }}" alt="">
                                        <div class="sale pp-sale">{{product.discount_parcent}}</div>
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="/order/addtoshopcart/{{ product.id }}/"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="{{ product.get_absolute_url }}">+ Quick View</a></li>
                                            <li class="w-icon"><a href="{{ product.get_absolute_url }}"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">{{product.category}}</div>
                                        <a href="{{ product.get_absolute_url }}">
                                            <h5>{{product.title}}</h5>
                                        </a>
                                        <div class="product-price">
                                           Tsh {{product.discount_price}} <span>Tsh {{product.price}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="pagination" >
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{page_obj.previous_page_number}}">previous</a>
                            {% endif %}
                            <span class="current">
                            page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{page_obj.paginator.num_pages}}">last &raquo</a>
                            {% endif %}
                        </span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->

    <!-- Man Banner Section Begin -->
    <section class="man-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Latest</li>
                            
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        {% for rs in latest_product %}
                        <div class="product-item">  
                            <div class="pi-pic">
                                <img src="{{ rs.image.url }}" alt="" style="height: 300px">
                                <div class="sale">{{ rs.discount_parcent }}</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="{{ rs.get_absolute_url }}"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="{{ rs.get_absolute_url }}">+ Quick View</a></li>
                                    <li class="w-icon"><a href="{{ rs.get_absolute_url }}"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{ rs.category }}</div>
                                <a href="{{ rs.get_absolute_url }}">
                                    <h5>{{ rs.title }}</h5>
                                </a>
                                <div class="product-price">
                                    Tsh {{ rs.discount_price }}
                                    <span>Tsh {{ rs.price }}</span>
                                </div>
                            </div>
                        </div>
                         {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Man Banner Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest-blog spad">
        <div class="container">
            <div class="benefit-items">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="{% static 'nason/img/icon-1.png' %}" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Free Shipping</h6>
                                <p>For all order over 500000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="{% static 'nason/img/icon-2.png' %}" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Delivery On Time</h6>
                                <p>If good have prolems</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="{% static 'nason/img/icon-1.png' %}" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Secure Payment</h6>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->

   
    {% include 'navbar1.html' %}

    

    <!-- Js Plugins -->
    <script type="text/JavaScript" src="{% static 'nason/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/bootstrap.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/jquery-ui.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/jquery.countdown.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/jquery.nice-select.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/jquery.zoom.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/jquery.dd.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/jquery.slicknav.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/owl.carousel.min.js' %}"></script>
    <script type="text/JavaScript" src="{% static 'nason/js/main.js' %}"></script>
</body>

</html>